
#message-input {
    height: 65%;
    border: 1px solid transparent;
    outline: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 10px;
    background: rgb(27, 27, 27);
    color: white;
    transition: 0.3s ease;
}

#message-input:focus{
    border: 1px solid rgba(13,110,253);
}

#message-submit {
    border: none;
    cursor: pointer;
    height: 65%;
    padding: 0 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chat{
    display: grid;
    grid-template-rows: 90% 10%;
}

#chat-input{
    grid-row: 2/3;
}