#container-grid {
    display: grid;
    grid-template-columns: 30% 70%;
}
/* ----CHAT ---- */
.chat {
    height: 100vh;
}

.chat .header-chat {
    height: 60px;
    position: fixed;
    z-index: 2;
    width: 70%;
    display: grid;
    grid-template-columns: 80% 20%;
}

.chat .container-chat {
    height: calc(100vh - 120px);
    margin-top: 60px;
}

/* ----FIN CHAT---- */

.column-chat-dimensions {
    height: 100vh;
    width: 100%;
}

.texto {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.dropdown-menu {
    background-color: #6C757D !important;
}

#dropdown-item-button {
    background-color: transparent !important;
    border: none !important;
}

.user-sidebar {
    height: 72px;
    background: #262D31;
    border: none;
    border-bottom: 0.1em solid rgb(68, 68, 68);
    transition: 0.3s ease-in-out;
}

.user-sidebar:hover {
    background: #323739;
}

.user-sidebar-active {
    background: #323739;
}

.button-group {
    border: none;
    background: #5159ff;
    height: 50px;
    transition: .3s ease-in;
}

.button-group-active {
    background: #4147CE;
}

.form{
    width: 300px;
}

.container-full{
    height: 100vh;
}

.aside-color {
    background-color: var(--aside);
}

.mr-10 {
    margin-right: 10px;
}

.header-height {
    height: 60px
}

.w-50 {
    width: 50%;
}

.message-received {
    padding-left: 10px;
    padding-right: 20px;
    background: var(--mesage-received);
    margin-left: 60px;
    max-width: 60%;
    /* font-size: .8em; */
}

.message-sent {
    margin-right: 60px;
    background-color: var(--message-sent);
    max-width: 60%;
    /* font-size: .8em; */
}

.text-online {
    font-size: 0.8rem;
    color: var(--online);
}

.online-height {
    height: 45vh;
}

.all-height {
    height: 55vh;
}

.bg-head-chat {
    background-color: var(--head-chat);
}

.header-stats {
    display: flex;
    align-items: center;
    height: 65px;
}

.bg-chat {
    /* background-color: var(--chat); */
    background-image: linear-gradient(180deg, rgba(0,0,0,0.5) 100%, rgba(255,255,255,0.5) 100%), url('https://c.pshere.com/photos/24/ac/background_climb_cold_environment_freezing_HD_wallpaper_high_idyllic-1001421.jpg!d');
    background-position: center;
    background-size: cover;
}

.mr-1rem {
    margin-right: 1rem;
}

.button-info {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: #fff;
    outline: none;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.svg {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.sidebar-close {
    border: none;
    background: transparent;
}

.aside-responsive {
    display: none;
}

.mx-alert {
    margin: 0 20%;
}

.text-date {
    font-size: 11px;
}

.z-100 {
    z-index: 100000;
}

.img-topbar {
    width: 38px;
    border-radius: 50%;
}

.text-msg-res {
    font-size: .9rem;
}

.recharts-surface {
    margin: 0 auto;
}

