@media screen and (max-width: 1080px) {
    #container-grid{
        grid-template-columns: 35% 65%;
    }
    .chat .header-chat {     
        width: 65%;
    }
}

@media screen and (max-width: 900px){
    #container-grid{
        grid-template-columns: 1fr;
    }
    .chat .header-chat {
        width: 100%;
    }
    .aside-responsive {
        display: block;
        z-index: 99;
        position: absolute;
        left: -50%;
        transition: 0.3s ease-in;
        height: 100vh;
        width: 50%;
    }
    .aside-responsive-show {
        left: 0;
    }
}

@media screen and (max-width: 800px){
    #chat-input {
        padding: 0 10%;
    }
}

@media screen and (max-width: 600px){
    .aside-responsive {
        display: block;
        z-index: 99;
        position: absolute;
        left: -100%;
        transition: 0.3s ease;
        height: 100vh;
        width: 100%;
    }
    .aside-responsive-show {
        left: 0;
    }
    .message-received{
        margin-left: 5%;
    }
    .message-sent{
        margin-right: 5%;
    }
    .chat-container{
        width: 100%;
    }
    .header-height {
        height: 65px;
    }
    .header-chat {
        height: 65px;
    }
    .all-height {
        height: 50vh;
    }
    .mx-alert {
        margin: 0 10%;
    }
}

@media screen and (max-width: 500px) {
    .text-resp {
        font-size: .9rem;
    }
    .text-msg-res {
        font-size: .9rem;
    }
    #img-chat {
        width: 35px;
    }
    #message-input {
        font-size: .9rem;
    }    
    .text-date {
        font-size: 10px;
    }
    .chat #chat-input {
        padding: 0 5%; 
    }
}

@media screen and (max-width: 400px) {
    .mr-1rem {
        margin-right: 5px;
    }
}

@media screen and (max-width: 330px) {
    .text-resp {
        font-size: .8rem;
    }
    #message-input {
        font-size: .8rem;
    }
    .mx-alert {
        margin: 0 5%;
    }
    .text-date {
        font-size: 9px;
    }
}
@media screen and (max-width: 370px) {
    .text-msg-res {
        font-size: .8rem;
    }
    #message-input {
        height: 70%;
    }
    #message-submit {
        height: 70%;
    }
    #chat-input {
        padding: 0; 
    }
    
}
@media screen and (max-width: 335px) {
    .text-msg-res {
        font-size: .7rem;
    }
    .mr-1rem {
        margin-right: 2px;
    }
}